body {
  text-align: center;
  font-family: 'Helvetica', 'Arial';
}

#manual-temperature {
  font-size: 25px;
}

#city-temperature {
  font-size: 50px;
}

#background {
}

.low-usage {
  background: lightblue;
}

.medium-usage {
  background: orange;
}

.high-usage {
  background: red;
}
